@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

/********************************************************************
 * TABLE OF CONTENTS
 * ===================
 * 1. GENERAL STYLES
 * 2. HEADER STYLES
 * 3. SUPPORT GROUPS STYLES
 * 4. FOOTER STYLES
 * ===================
 ********************************************************************/

/* 1. GENERAL STYLES */
html {
  box-sizing: border-box;
  background-color: var(--black);
  font-family: 'Poppins', sans-serif;
  font-size: var(--size-m);
  display: grid;
  place-items: center;
  overflow: hidden;
}
*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  height: 100vh;
  width: 100vw;
  max-width: 425px;
  background-color: var(--white);
}
h1 {
  font-size: var(--size-xl);
  font-weight: 600;
}
h2 {
  font-size: var(--size-l);
  font-weight: 700;
}
img {
  display: block;
  margin: auto;
}
:root {
  --header-height: 50px;
  --footer-height: 80px;
  --size-s: 8px;
  --size-m: 11px;
  --size-l: 14px;
  --size-xl: 25px;
  --white: #FFFFFF;
  --black: #000000;
  --beige: #EADEC9;
  --blue: #1B4079;
  --blue-half: #1B40797F;
}

/* 2. HEADER STYLES */
header {
  height: var(--header-height);
  background-color: var(--blue);
  display: grid;
  place-items: center;
}

/* 3. SUPPORT GROUPS STYLES */
main {
  height: calc(100vh - var(--header-height) - var(--footer-height));
  color: var(--blue);
  text-align: center;
}
main > img {
  width: 130px;
}
.support-container {
  padding: 20px 18.5px 15px 18.5px;
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  height: calc(100% - 130px - 38px);
  overflow: scroll;
}
.support-item {
  border: 1.5px solid var(--blue);
  border-radius: 10px;
  padding: 15px 0 14px 0;
}
.support-body {
  display: flex;
  gap: 13px;
  text-align: left;
  margin-top: 10px;
}
.support-image {
  height: 85px;
  width: 85px;
  margin: 0 0 auto 16px;
}
.support-content {
  display: flex;
  flex-flow: column nowrap;
  gap: 2.5px;
  margin-right: 10.5px;
}
.support-content > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.support-detail {
  display: flex;
  font-size: var(--size-s);
  gap: 10px;
}
.support-date,
.support-spot {
  font-size: var(--size-s);
  color: var(--blue-half);
  font-weight: 800;
}
.support-button {
  box-sizing: border-box;
  border: none;
  border-radius: 7px;
  color: var(--beige);
  background-color: var(--blue);
  font-weight: 700;
  padding: 4px;
  font-size: var(--size-m);
}
#support-load {
  box-sizing: border-box;
  border: 0.5px solid var(--blue);
  border-radius: 10px;
  color: var(--blue);
  background-color: var(--beige);
  font-weight: 700;
  padding: 9.5px;
  font-size: var(--size-m);
  width: 102px;
  margin: auto;
}

/* 4. FOOTER STYLES */
footer {
  height: var(--footer-height);
  background-color: var(--blue);
  color: var(--white);
}
nav {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  place-items: center;
}
.nav-item {
  color: var(--white);
  text-align: center;
}
.nav-icon {
  height: 24px;
  width: 24px;
}