@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/********************************************************************
 * TABLE OF CONTENTS
 * ===================
 * 1. GENERAL STYLES
 * 2. HEADER STYLES
 * 3. SUPPORT GROUPS STYLES
 * 4. FOOTER STYLES
 * ===================
 ********************************************************************/

/* 1. GENERAL STYLES */
html {
  box-sizing: border-box;
  background-color: var(--black);
  font-family: 'Poppins', sans-serif;
  font-size: var(--size-m);
  display: grid;
  place-items: center;
  overflow: hidden;
}
*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  height: 100vh;
  width: 100vw;
  max-width: 425px;
  background-color: var(--white);
}
h1 {
  font-size: var(--size-xl);
  font-weight: 600;
}
h2 {
  font-size: var(--size-l);
  font-weight: 700;
}
h3 {
  font-size: 15px;
  font-weight: 500;
}
img {
  display: block;
  margin: auto;
}
button {
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}
:root {
  --header-height: 50px;
  --footer-height: 80px;
  --size-s: 8px;
  --size-m: 11px;
  --size-l: 14px;
  --size-xl: 25px;
  --white: #FFFFFF;
  --black: #000000;
  --beige: #EADEC9;
  --blue: #1B4079;
  --blue-95: #1B4079F2;
  --blue-half: #1B40797F;
  --blue-light: #BDD5ED;
}

/* 2. HEADER STYLES */
header {
  position: relative;
  height: var(--header-height);
  background-color: var(--blue);
  display: grid;
  place-items: center;
  z-index: 1;
}

/* 3. SUPPORT GROUPS STYLES */
main {
  position: relative;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  color: var(--blue);
  text-align: center;
  z-index: 0;
}

main > button {
  position: absolute;
  top: 12px;
  background-color: var(--white);
  z-index: 1;
}
.back {
  left: 19px;
}
.filter {
  right: 19px;
}

#support-filter {
  /* display: none; */
  position: absolute;
  bottom: -546px;
  height: 546px;
  width: 100%;
  transition: all 2s;
  z-index: 1;
}
.filter-show {
  bottom: 0 !important;
}
#filter-header {
  background-color: var(--blue);
  height: 42px;
  border-radius: 15px 15px 0 0;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: var(--size-l);
  border-bottom: 1px solid #FFFFFF33;
}
#filter-header > button {
  background-color: transparent;
  color: var(--blue-light);
  font-weight: 700;
}
#filter-header > h2 {
  color: var(--white);
}
#filter-container {
  height: calc(100% - 42px);
  background-color: var(--blue-95);
  color: var(--white);
  text-align: left;
  padding: 14px 19px;
  display: flex;
  flex-flow: column nowrap;
  gap: 25px;
}
.filter-item {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}
.filter-choices {
  display: flex;
  flex-flow: row wrap;
  gap: 6px;
  color: var(--blue);
  font-size: var(--size-l);
  font-weight: 600;
}
.filter-choice {
  background-color: var(--white);
  border-radius: 5px;
  padding: 5px 8px;
}
.filter-checked {
  background-color: var(--blue);
  color: var(--white);
  border: 1px solid var(--white);
}

main > img {
  width: 130px;
}
.support-container {
  padding: 20px 18.5px 15px 18.5px;
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  height: calc(100% - 130px - 38px);
  overflow-y: scroll;
}
.support-container::-webkit-scrollbar{
  display: none;
}
.support-item {
  border: 1.5px solid var(--blue);
  border-radius: 10px;
  padding: 15px 0 14px 0;
}
.support-body {
  display: flex;
  gap: 13px;
  text-align: left;
  margin-top: 10px;
}
.support-image {
  height: 85px;
  width: 85px;
  margin: 0 0 auto 16px;
}
.support-content {
  display: flex;
  flex-flow: column nowrap;
  gap: 2.5px;
  margin-right: 10.5px;
}
.support-content > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.support-detail {
  display: flex;
  font-size: var(--size-s);
  gap: 10px;
}
.support-date,
.support-spot {
  font-size: var(--size-s);
  color: var(--blue-half);
  font-weight: 800;
}
.support-button {
  border-radius: 7px;
  color: var(--beige);
  background-color: var(--blue);
  font-weight: 700;
  padding: 4px;
  font-size: var(--size-m);
}
#support-load {
  border: 0.5px solid var(--blue);
  border-radius: 10px;
  color: var(--blue);
  background-color: var(--beige);
  font-weight: 700;
  padding: 9.5px;
  font-size: var(--size-m);
  width: 102px;
  margin: auto;
}

/* 4. FOOTER STYLES */
footer {
  position: relative;
  height: var(--footer-height);
  background-color: var(--blue);
  color: var(--white);
  z-index: 1;
}
nav {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  place-items: center;
}
.nav-item {
  color: var(--white);
  text-align: center;
}
.nav-icon {
  height: 24px;
  width: 24px;
}